<mat-card id="card" style="text-align: center;">
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Ingrese su Usuario">
      </mat-form-field><br/>
      <mat-form-field>
        <input matInput placeholder="Ingrese su Contraseña" type="password">
      </mat-form-field><br/>
      <button mat-raised-button color="primary" style="margin-right:5px;">Ingresar</button><br/>
      <hr>
      <label for="">No tiene una cuenta?</label><br/>
      <button mat-raised-button color="accent" style="margin-right:5px;">Registrarse</button>
</mat-card-content>