<mat-card>
  <mat-card-title>
    Encuesta de apreciacion Estudiantil
  </mat-card-title>

  <mat-card-content>
    <h2>Pregunta # {{indexQuestion + 1}}: {{questions[indexQuestion]}}</h2>

    <mat-table [dataSource]="teacherService.teachers" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Docente</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
        </mat-cell>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>Calificación</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-radio-group (change)="onChange($event, element.position)">
            <mat-radio-button value='1'>Muy Malo</mat-radio-button>
            <mat-radio-button value='2'>Malo</mat-radio-button>
            <mat-radio-button value='3'>Regular</mat-radio-button>
            <mat-radio-button value='4'>Bueno</mat-radio-button>
            <mat-radio-button value='5'>Muy bueno</mat-radio-button>
          </mat-radio-group>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <br />

    <button
      *ngIf="indexQuestion !== 2"
      mat-raised-button
      color="primary"
      [disabled]="resultService.results[indexQuestion].length < 10 || resultService.results[indexQuestion].includes(undefined)"
      (click)="next()"
      >Siguiente pregunta
    </button>
    <button
      *ngIf="indexQuestion === 2"
      mat-raised-button
      color="secondary"
      [disabled]="resultService.results[indexQuestion].length < 10 || resultService.results[indexQuestion].includes(undefined)"
      (click)="postAnswers()"
      >Mandar Respuestas
    </button>
    <app-footer
      style="position:absolute;right:25px;">
    </app-footer>
  </mat-card-content>

</mat-card>
